<template>
  <p class="question__text">{{ question || 'Loading...' }}</p>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Question extends Vue {
  @Prop() private question!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.question {
  &__text {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 4px;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    background-color: #e65328;
  }
}
</style>
