html,
body {
  margin: 0;
  padding: 0;
  background-color: #403368;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  margin: 0 0 4px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;

  &:hover {
    border-bottom: 1px dotted #ffffffaa;

  }
}
